.card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content, .badge {
    z-index: 1;
}

.icon {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    color: var(--mantine-color-cream-1);
    z-index: 0;
}

[data-mantine-color-scheme="light"] .icon {
  color: var(--mantine-color-cream-1);
}

[data-mantine-color-scheme="dark"] .icon {
  color: var(--mantine-color-shade-7);
}