.container {
  position: relative;
  padding-bottom: 2rem;
}

.card {
  margin-left: 1.5rem;
  max-width: 100%;
}

.dot {
  position: absolute;
  z-index: 1;
  left: -0.3rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--mantine-color-body);
  border: 6px solid var(--mantine-primary-color-filled);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .even {
    flex-direction: row;
  }

  .odd {
    flex-direction: row-reverse;
  }

  .card {
    margin: 0 1.5rem;
    max-width: 45%;
  }

  .dot {
    left: 50%;
    transform: translateX(-50%);
  }
}
