.welcome {
  height: calc(100vh - 60px);
  align-items: center;
}

.title {
  font-size: clamp(2em, 5.5vw, 6em);
  font-family: 'Neue Haas Display', sans-serif;
  display: block;
  white-space: pre-line;
  transition: font-size 0.3s ease;
  min-width: 14ch;
  min-height: 5ch;
}

.chevron {
  width: 4em;
  height: 4em;
}

@media (max-width: 61.99em){
  .welcome {
    margin-top: 0.5em;
  }
  .title{
    font-size: 7.5vw;
    text-align: center;
  }
}

@media (max-height: 650px) {
  .welcome {
    height: auto;
    align-items: flex-start;
    padding-top: 1em;
  }
}