.welcome {
    height: calc(100vh - 60px);
  }
  
  .title {
    font-size: 5vw;
    font-family: 'Neue Haas Display', sans-serif;
    display: block;
    white-space: pre-line;
    min-width: 15ch;
  }
  