.headingWrapper {
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--mantine-color-gradient1-0);
  position: relative;
  margin: 0 -16px;
}
  
.marquee {
  display: flex;
  width: fit-content;
}
  
.marqueeGroup {
  display: flex;
  width: fit-content;
}
  
.heading {
  margin-right: 0.25ch;
  color: var(--mantine-color-body);
  white-space: nowrap;
}