.timeline {
  position: relative;
  max-width: 1200px;
  margin: var(--mantine-spacing-xl) auto 0 auto;
  padding-bottom: 3rem;
}

.line {
  position: absolute;
  top: 0;
  left: 0.2rem;
  height: 100%;
  width: 8px;
  background-color: var(--mantine-primary-color-filled);
  border-radius: var(--mantine-radius-md);
}

[data-mantine-color-scheme="dark"] .line {
  background-color: var(--mantine-color-body);
}

@media (min-width: 768px) {
  .line {
    left: 50%;
    transform: translateX(-50%);
  }
}
